@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./img/bg2.png');
  background-position: 80% 20%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Familjen Grotesk', sans-serif;
}

.orta {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
